html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

/* ----- Alert ----- */
.alert {
  margin: 0;
  text-align: center;
  display: none;
  opacity: 1;
  border-radius: 0;
  z-index: 1051;
}
/* ----- Navigation and Logo ----- */
.logo {
  height: 3em;
  width: 3em;
}
.navbar {
  padding: .5rem .5rem;
}
.navbar-collapse {
  flex-grow: 0;
}
.temp-photo {
  width: 3em;
  height: 3em;
}
.nav {
  justify-content: center;
}
/* banner */
.top-spacer {
  width: 30px;
  height: 100px;
}

.nav-spacer {
  width: 2rem;
}
.bg-img {
  background-image: url(../images/home-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }
/* loader */
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ----- Song recommendations ----- */
/* user profile picture */
.user-img, .user-img-loggedin{
  width: 3em;
  height: 3em;
  display: inline-block;
}
.user-img-spacer {
  width: 15em;
}
/* icon links*/
.icon-link img {
  width: 2em;
  height: 2em;
}
.no-wrap {
  white-space: nowrap;
}
.col-md-auto {
  margin-bottom: 0.8em;
  text-align: center;
}

/* song recommendation list*/
.song-info {
  margin-top: 0rem;
  margin-bottom: 1px;
}
.centered {
  justify-content: center;
}
.margin {
  margin: 0px 3px 3px 3px;
}
.sr-nav {
  display: block;
}
/* new song forms */
.newSongForm {
  text-align: right;
}
.col {
  margin: 0.5em;
  text-align: center;
}
.user-name {
  display:none;
}

/* song comment */
.song-comment {
  display:inherit;
}
.h6, h6 {
  font-size: 0.7rem;
}
/* youtube */
.container-youtube {
  align-items: center;
}
.plyr {
  width:50vw;
}

/* user profile */
.update-user-container {
  display:none;
}

.profile-user-img {
  width: 10em;
  height: 10em;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
  .navbar {
    display: flex;
    justify-content: center;
  }
  .bg-img {
    background-image: url(../images/home-banner-edit.jpg);
  }
}
@media (min-width: 780px){
  .col-md-auto {
      margin-bottom: 0.8em;
      text-align: left;
  }
  .user-name {
    display: inline;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    justify-content: space-between;
  }
  .col {
    text-align: left;
  }
}

/* Set Reviews */
.btn-sm {
  padding: .25rem .5rem;
  font-size: .6rem;
}