html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

.hidden {
  display: none;
}
.inline-block {
  display: inline-block;
}

.invisible {
  display: none;
}
.row {
  margin-bottom: 0.5em;
}
.sr-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* ----- display error message ----- */
.alert {
  margin: 0;
  text-align: center;
  display: none;
  opacity: 1;
  border-radius: 0;
  z-index: 1051;
}

/* ----- navigation and logo ----- */
.logo {
  height: 3em;
  width: 3em;
}
.navbar {
  padding: .5rem .5rem;
  justify-content: center;
  display: flex;
}
.nav {
  justify-content: center;
}
.page-link {
  font-size: 0.8em;
}
.btn-group-sm>.btn, .btn-sm {
  font-size: 0.7rem;
}

/* loader */
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-right: 0.3em;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ----- banner ----- */
.top-spacer {
  height: 60px;
}

.home-welcome {
  background-image: url(https://s3-us-west-1.amazonaws.com/churchband/site-images/home-welcome-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: 1em;
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
}

.home-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: 1em;
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
}
.hb-set {
  background-image: url(https://s3-us-west-1.amazonaws.com/churchband/site-images/sets-banner.jpg);
}
.hb-song {
  background-image:  url(https://s3-us-west-1.amazonaws.com/churchband/site-images/home-banner.jpg);
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.box-shadow { 
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.lnk-black {
  color: black;
}
/* .no-wrap {
  white-space: nowrap;
} */
.centered {
  justify-content: center;
}
.margin {
  margin: 0px 3px 3px 3px;
}
/* ----- comments ------ */
.edit-comment-input {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

/* ----- SONGS REC ----- */

/* -- user profile picture -- */
.user-img, .user-img-loggedin{
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.5em;
  display: inline-block;
}

/* -- icon links -- */
.icon-link img {
  width: 2em;
  height: 2em;
}

/* -- song recommendation list -- */
.song-info {
  margin-top: 0rem;
  margin-bottom: 1px;
}

.song-recomm-title{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.col-auto {
  flex: auto auto auto;
}

/* ----- new song forms ----- */
.newSongForm {
  text-align: right;
}
.col {
  text-align: center;
}
.user-name {
  margin-right: 1em;
}

/* ----- song ----- */
.song-comment {
  display:inherit;
}

/* ----- youtube plyr ----- */
.container-youtube {
  align-items: center;
}
.plyr {
  width:100vw;
}

/* ----- user profile ----- */
.update-user-container {
  display:none;
}

.profile-user-img {
  width: 10em;
  height: 10em;
  border-radius: 1em;
}

/* ----- SETS REVIEW ----- */
.dropdown-sets {
  height: 80px;
  overflow-y: auto;
}
.loading-data {
  display: inline-block;
}

/* ----- side navigation ----- */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 50;
  top: 50px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.col-auto {
  width: 100%; 
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

@media (max-width: 600px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

@media (max-width: 1000px){
  .nav {
    justify-content: space-between;
  }
  .navbar-collapse {
    flex-grow: 0;
  }
  .bg-img {
    background-image: url(https://s3-us-west-1.amazonaws.com/churchband/site-images/home-banner-edit.jpg);
  }
  .navbar-nav {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    margin-bottom: 0;
  }
  .col {
    margin: 0.1em;
  }
}

@media (min-width: 400px) {
  .comment-heading {
    display: flex;
    justify-content: space-between;
  }
  .col {
    margin: 0.5em;
  }
  .navbar {
    padding: .5rem .5rem;
    justify-content: space-between;
    display: flex;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
    left: -2em;
  }
  .page-link {
    font-size: 1em;
  }
  .btn-group-sm>.btn, .btn-sm {
    font-size: 0.875rem;
  }
  .icon-link img {
    width: 2.5em;
    height: 2.5em;
  }
  .song-recomm-title{
    display: flex;
    flex-direction: row;
    align-items: left;
  }
  .col-auto {
    width: auto;
  }
}

@media (min-width: 780px){
  .col-md-auto {
      margin-bottom: 0.8em;
      text-align: left;
  }
  .user-name {
    display: inline;
  }
  .plyr {
    width: 50vw;
  }
}

@media (min-width: 1000px){
  .plyr {
    width: 50vw;
  }
  .song-recomm-title {
    margin-right: auto;
  }
}