<!doctype html>
<html lang="en">
  <head>
      <%- include('../partials/head.ejs') %>
      <!-- Specific CSS -->
      <link href="stylesheets/login.css" rel="stylesheet">
      <!-- Specific Script -->
      <script src="scripts/login.js"></script>
      <title>Sign In Page</title>
  </head>

  <body class="text-center">
    <div class="container-feedback">
      <div class="alert alert-primary input-feedback">User Input Feedback</div>
    </div> 
    
    <div class="container">
      <form class="form-signin" action="/auth/login" method="post">
        <img class="mb-4" src="https://churchband.s3.amazonaws.com/+site-icons/favicon-256.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal sr-only">Please sign in</h1>
          <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mb-3 text-muted">Don't have an account? <a href="/register">Register</a> </p>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
      </form>
    </div>
  </body>
</html>